<section class="boxes">
  <div class="box-area">
    <div
      class="box"
      [ngStyle]="{ 'background-color': isRed ? 'red' : '#fff' }"
    ></div>
    <button (click)="paintBox('red')">Red</button>
  </div>
  <div class="box-area">
    <div
      class="box"
      [ngStyle]="{ 'background-color': isGreen ? 'green' : '#fff' }"
    ></div>
    <button (click)="paintBox('green')">Green</button>
  </div>

  <div class="box-area">
    <div
      class="box"
      [ngStyle]="{ 'background-color': isBlue ? 'blue' : '#fff' }"
    ></div>
    <button (click)="paintBox('blue')">Blue</button>
  </div>
</section>
